<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Password</h1>
    <form action="/resetpassword" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password"><br>
        <label for="password">Write Password Again:</label>
        <input type="password" id="newpassword" name="newpassword"><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>